<div class="mainBox">
    <div class="boxOne">
        <h1>Get <strong class="purple">insights</strong> that help your business grow.</h1>
        <p>Discover the benefits of data analytics and make better decisions regarding revenue,customer experience, and overall efficiency.</p>
        <div class="box">
            <div><h1>10k+</h1><p>COMPANIES</p></div>
            <div><h1>314</h1>TEMPLATES</div>
            <div><h1>12M+</h1>QUERIES</div>
        </div>
    </div>
    <div class="boxTwo">
        <img src="https://th.bing.com/th/id/R.3ed12ad34425d77c0b7edb9f3adcdc23?rik=pEe5lFptcEuKjQ&riu=http%3a%2f%2fwww.accliverpool.com%2fmedia%2f1317101%2fmeeting-moments-1.jpg%3fwidth%3d720%26height%3d437%26mode%3dstretch%26quality%3d75&ehk=Wiz9f4Fg9EgelzikAzX61ag3jhYkjQNC4e81xedQrf0%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1"
        style="width:500px;height:450px;border-radius: 10px;">
    </div>
</div>
