.one{
    color: red;
}
.two{
    color: blue;
}
.main{
    width: 1300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formH{
    display: flex;
    justify-content: center;

}